@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #555;
}
